<footer class="footer">
  <div class="container">
    <div class="footer-information">
      <div class="footer-logo">
        <a class="logo-link" href="../index.html" alt="Logo company"
          ><svg class="logo-icon" width="168" height="16">
            <use href="./img/symbol-defs.svg#icon-logo"></use></svg
        ></a>
        <p class="footer-p">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="block-adress">
        <nav class="footer-nav">
          <ul class="footer-nav-list">
            <li class="footer-list-item">
              <a class="footer-nav-link link" href="">how it works</a>
            </li>
            <li class="footer-list-item">
              <a class="footer-nav-link link" href="">vegetables</a>
            </li>
            <li class="footer-list-item">
              <a class="footer-nav-link link" href="">reviews</a>
            </li>
          </ul>
        </nav>
        <address class="adress">
          <ul class="adress-list">
            <li class="agress-li">
              <a class="adress-link" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="agress-li">
              <a
                href="https://maps.app.goo.gl/sZrxMTvQ6JyYaXbX6"
                target="_blank"
                >1678 S. Pioneer Road Salt Lake City UT 84104</a
              >
            </li>
          </ul>
        </address>
      </div>
    </div>

    <div class="policy-block">
      <ul class="policy-list">
        <li class="policy">
          <a class="policy-style" href="">Privacy Policy</a>
          <span class="policy-style">&sol;</span>
        </li>
        <li class="policy">
          <a class="policy-style" href="">Cookie settings</a>
        </li>
      </ul>
      <p class="policy-par">&copy;Green Harvest 2023</p>
    </div>
  </div>
</footer>
