<section class="section-hero">
    <div class="container-hero">
        <div class="container-hero-main-text">
            <h1 class="first-text-in-page">organic vegetables to your diet today!</h1>
        </div>
        <p class="text-p-hero-section">
            Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available.
            Fresh Harvest
            Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered
            to you.
        </p>
    </div>
    <div class="picture-hero">
        <picture>
            <!-- Desktop screen -->
            <source media="(min-width: 1280px)" srcset="
                            ./img/@media/desctop/main/food-bag.webp    1x,
                            ./img/@media/desctop/main/food-bag@2x.webp 2x"
                            type="image/webp" 
                            />
            <source media="(min-width: 1280px)" srcset="
                            ./img/@media/desctop/main/food-bag.jpg    1x,
                            ./img/@media/desctop/main/food-bag@2x.jpg 2x"
                            type="image/jpg"  />
            <!-- Tablet screen -->
            <source media="(min-width: 768px)" srcset="
                            ./img/@media/tablet/main/food-bag.webp    1x,
                            ./img/@media/tablet/main/food-bag@2x.webp 2x" 
                            type="image/webp" />
            <source media="(min-width: 768px)" srcset="
                            ./img/@media/tablet/main/food-bag.jpg    1x,
                            ./img/@media/tablet/main/food-bag@2x.jpg 2x" 
                            type="image/jpg" 
                            />
            <!-- Mobile screen -->
            <source media="(max-width: 767.9px)" srcset="
                            ./img/@media/mobile/main/food-bag.webp    1x,
                            ./img/@media/mobile/main/food-bag@2x.webp 2x" 
                            type="image/webp" />
            <source media="(max-width: 767.9px)" srcset="
                            ./img/@media/mobile/main/food-bag.jpg    1x,
                            ./img/@media/mobile/main/food-bag@2x.jpg 2x"
                            type="image/jpg" 
                            />
            <img class="main-image" src="./img/@media/mobile/main/food-bag.jpg" 
            alt="Food bag" width="375" height="370"/>
        </picture>
    </div>
</section>

