<section class="how-it-works" id="how-it-works">
  <div class="full-section">
    <div class="works-img-bg">
      <picture>
        <!-- Desktop screen -->
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/@media/desctop/main/women-desktop.webp    1x,
            ./img/@media/desctop/main/women-desktop@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/@media/desctop/main/women-desktop.png    1x,
            ./img/@media/desctop/main/women-desktop@2x.png 2x
          "
          type="image/png"
        />
        <!-- Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/@media/tablet/main/women-tablet.webp    1x,
            ./img/@media/tablet/main/women-tablet@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/@media/tablet/main/women-tablet.png    1x,
            ./img/@media/tablet/main/women-tablet@2x.png 2x
          "
          type="image/png"
        />
        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/@media/mobile/main/women.webp    1x,
            ./img/@media/mobile/main/women@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/@media/mobile/main/women.png    1x,
            ./img/@media/mobile/main/women@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="main-image-women"
          src="./img/@media/mobile/main/women.png"
          alt="Food preparing"
          width="335"
          height="450"
        />
      </picture>
    </div>
    <div class="works-content">
      <h2 class="visually-hidden">How it works</h2>
      <h3 class="works-title">
        To order your <span class="works-title-span">vegetable</span> basket,
        simply follow these
        <span class="works-title-span">easy steps</span>
      </h3>
      <p class="works-caption">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="works-list list">
        <li class="works-item">
          <p class="number">1</p>
          <p class="made">
            Just choose <span class="works-item-span">the vegetable </span>you
            want to order by clicking on the checkboxes
            <span class="works-item-span">next to it</span>.
          </p>
        </li>
        <li class="works-item">
          <p class="number">2</p>
          <p class="made">
            Click on <span class="works-item-span">the basket</span> and fill
            out the form.
          </p>
        </li>
        <li class="works-item">
          <p class="number">3</p>
          <p class="made">
            Sit back and relax! Your
            <span class="works-item-span">fresh vegetables</span> basket will be
            delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
