<section class="how-it-works container">
   <div class="works-img-bg">
    <picture class="works-img">
    <!-- Desktop screen -->
    <source
        media="(min-width: 1280px)"
        srcset="
            ../img/@media/desctop/main/women.png    1x, 
            ../img/@media/desctop/main/women@2x.png 2x"/>
    <!-- Tablet screen -->
    <source
         media="(min-width: 768px)"
         srcset="
            ../img/@media/tablet/main/women.png    1x,
            ../img/@media/tablet/main/women@2x.png 2x
        " />
    <!-- Mobile screen -->
    <source
        media="(min-width: 375px)"
        srcset="
            ../img/@media/mobile/main/women.png    1x,
            ../img/@media/mobile/main/women@2x.png 2x
        " />
        <img
        class="main-image-women"
        src="../img/@media/mobile/main/women.png"
        alt="Chocolate with nuts"/>
    </picture>
  </div> 
  <div class="works-content">
    <h2 class="visually-hidden">How it works</h2>
    <h3 class="works-title">
      To order your <span class="works-title-span">vegetable</span> basket,
      simply follow these
      <span class="works-title-span">easy steps</span>
    </h3>
    <p class="works-caption">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home.
    </p>
    <ol class="works-list list">
      <li class="works-item">
        <div class="icons">
        <div class="pink">
            <div class="wine">
            <p class="number">1</p>
        </div></div></div>
        <p class="made">Just choose <span class="works-item-span">the vegetable </span>you want to order by clicking on the
        checkboxes <span class="works-item-span">next to it</span>.</p>
      </li>
      <li class="works-item">
        <div class="icons">
        <div class="pink">
            <div class="wine">
            <p class="number">2</p>
        </div></div></div>
        <p class="made">Click on <span class="works-item-span">the basket</span> and fill out the form.</li></p>
      <li class="works-item">
        <div class="icons">
        <div class="pink">
            <div class="wine">
            <p class="number">3</p>
        </div></div></div>
        <p class="made">Sit back and relax! Your <span class="works-item-span">fresh vegetables</span> basket will be delivered.</p>
      </li>
    </ol>
  </div>
</div>
</section>