<!--===========  MOBILE MENU===========-->
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="hvr-pulse mob-close menu-toggle js-close-menu" type="button">
    <svg class="mobile-menu-close" width="32px" height="32px">
      <use href="../img/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>
  <nav class="nav-mob">
    <ul class="mobile-nav-list list">
      <li class="mobile-nav-item">
        <a
          class="hvr-wobble-vertical mobile-nav-link link menu-toggle js-close-menu"
          href="#how-it-works"
          >How It Works</a
        >
      </li>
      <li class="mobile-nav-item">
        <a
          class="hvr-wobble-vertical mobile-nav-link link menu-toggle js-close-menu"
          href="#vegetables"
          >Vegetables</a
        >
      </li>
      <li class="mobile-nav-item">
        <a
          class="hvr-wobble-vertical mobile-nav-link link menu-toggle js-close-menu"
          href="#reviewes"
          >Reviews</a
        >
      </li>
      <li class="mobile-nav-item shop-now">
        <a
          class="hvr-buzz-out shop-mobile-link menu-toggle js-close-menu"
          href="#your-order"
        >
          Shop now</a
        >
      </li>
    </ul>
  </nav>
</div>

<!--========== / MOBILE MENU===========-->
