<section class="reviewes-section container">
  <h2 class="reviewes__title">
    reviews from our <span class="green-text">customers</span>
  </h2>
  <p class="reviewes__text">
    Words of our customers: impressions and opinions about the quality of our
    services and the freshness of our products.
  </p>

  <ul class="reviewes">
    <li class="reviewes_card">
      <img
        class="costumers"
        srcset="
          ../img/costumers/john_wax.jpg    1x,
          ../img/costumers/john_wax@2x.jpg 2x
        "
        src="../img/costumers/john_wax.jpg"
        alt="customer-john-wax"
        width="56"
        height="56"
      />
      <div class="reviewes__card_text">
        <h3 class="reviewes__name">John Wax</h3>
        <p class="reviewes__text_descripiton">
          These vegetables are my secret to delicious and healthy meals. The
          quality is always at the highest level, the aroma and taste are
          enchanting. I advise every fan of real products!
        </p>
      </div>
    </li>
    <li class="reviewes_card hiden-tel">
      <img
        class="costumers"
        srcset="
          ../img/costumers/victoria_romashenko.jpg    1x,
          ../img/costumers/victoria_romashenko@2x.jpg 2x
        "
        src="../img/costumers/victoria_romashenko.jpg"
        alt="customer-john-wax"
        width="56"
        height="56"
      />
      <div class="reviewes__card_text">
        <h3 class="reviewes__name">Victoria Romashenko</h3>
        <p class="reviewes__text_descripiton">
          I love how fast and fresh the vegetables are delivered. Salads always
          turn out so appetizing, and soups are real masterpieces. The quality
          is impeccable!
        </p>
      </div>
    </li>
    <li class="reviewes_card hiden-tel">
      <img
        class="costumers"
        srcset="
          ../img/costumers/ihor_trachuk.jpg    1x,
          ../img/costumers/ihor_trachuk@2x.jpg 2x
        "
        src="../img/costumers/ihor_trachuk.jpg"
        alt="customer-john-wax"
        width="56"
        height="56"
      />
      <div class="reviewes__card_text">
        <h3 class="reviewes__name">John Wax</h3>
        <p class="reviewes__text_descripiton">
          Recently tried my fresh tomatoes and peppers - amazing! The
          authenticity of the taste, as if from the garden directly to my table.
          It is now my main vegetable supplier.
        </p>
      </div>
    </li>
  </ul>
</section>
