<section class="reviews section" id="reviewes">
  <div class="container">
    <div class="reviewes-container-title">
      <h2 class="reviewes-title">
        reviews from our <span class="green-text">customers</span>
      </h2>
      <p class="reviewes-desc">
        Words of our customers: impressions and opinions about the quality of
        our services and the freshness of our products.
      </p>
    </div>
    <ul class="reviewes-menu">
      <li class="reviewes-item">
        <img class="reviewes-costumers" srcset="
            ./img/costumers/john_wax.png    1x,
            ./img/costumers/john_wax@2x.png 2x
          " src="./img/costumers/john_wax.png" alt="John Wax" width="56" height="56" />
        <div class="reviewes-card-text">
          <h4 class="reviewes-name">John Wax</h4>
          <p class="reviewes-text-descripiton">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </div>
      </li>
      <li class="reviewes-item">
        <img class="reviewes-costumers" srcset="
            ./img/costumers/victoria_romashenko.png    1x,
            ./img/costumers/victoria_romashenko@2x.png 2x
          " src="./img/costumers/victoria_romashenko.png" alt="Victoria Romashenko" width="56" height="56" />
        <div class="reviewes-card-text">
          <h4 class="reviewes-name">Victoria Romashenko</h4>
          <p class="reviewes-text-descripiton">
            I love how fast and fresh the vegetables are delivered. Salads
            always turn out so appetizing, and soups are real masterpieces. The
            quality is impeccable!
          </p>
        </div>
      </li>
      <li class="reviewes-item">
        <img class="reviewes-costumers" srcset="
            ./img/costumers/ihor_trachuk.png    1x,
            ./img/costumers/ihor_trachuk@2x.png 2x
          " src="./img/costumers/ihor_trachuk.png" alt="Ihor Trachuk" width="56" height="56" />
        <div class="reviewes-card-text">
          <h4 class="reviewes-name">Ihor Trachuk</h4>
          <p class="reviewes-text-descripiton">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my
            table. It is now my main vegetable supplier.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>