<section class="section vegetables">
    <div class="container vegetables-container">
        <div class="vegetables-content">
            <div class="dwd">
                <h2 class="vegetables-title">organic <span class="accent-color-title">vegetables</span></h2>
                <p class="vegetables-subtitle">Our organic vegetables are hand-picked from local farms and delivered
                    straight to
                    your doorstep,
                    ensuring
                    that you get
                    the freshest and most nutritious produce possible.
                </p>
            </div>
            <button class="vegetables-btn" type="button">Shop now</button>
        </div>
        <ul class="vegetables-menu">
            <li class="vegetables-item">
                <h3 class="vegetables-caption-card">eggplant</h3>
                <p class="vegetables-desc-card">60 UAH / kg</p>
                <img class="products" srcset="
                            ./img/groceries/eggplant.jpg    1x,
                            ./img/groceries/eggplant@2x.jpg 2x
                          " src="./img/groceries/eggplant.jpg" alt="eggplant" width="282" height="243" />
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-caption-card">leek</h3>
                <p class="vegetables-desc-card">50 UAH / kg</p>
                <img class="products" srcset="./img/groceries/leek.jpg 1x, ./img/groceries/leek@2x.jpg 2x"
                    src="./img/groceries/leek.jpg" alt="leek" width="282" height="243" />

            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-caption-card">mushrooms</h3>
                <p class="vegetables-desc-card">40 UAH / kg</p>
                <img class="products" srcset="
                        ./img/groceries/mushrooms.jpg    1x,
                        ./img/groceries/mushrooms@2x.jpg 2x
                      " src="./img/groceries/mushrooms.jpg" alt="mushrooms" width="282" height="243" />
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-caption-card">corn</h3>
                <p class="vegetables-desc-card">60 UAH / kg</p>
                <img class="products" srcset="./img/groceries/corn.jpg 1x, ./img/groceries/corn@2x.jpg 2x"
                    src="./img/groceries/corn.jpg" alt="corn" width="282" height="243" />
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-caption-card">sweet potatoes</h3>
                <p class="vegetables-desc-card">50 UAH / kg</p>
                <img class="products" srcset="
                        ./img/groceries/potatoes.jpg    1x,
                        ./img/groceries/potatoes@2x.jpg 2x
                      " src="./img/groceries/potatoes.jpg" alt="sweet potatoes" width="282" height="243" />
            </li>
            <li class="vegetables-item">



                <h3 class="vegetables-caption-card">carrot</h3>
                <p class="vegetables-desc-card">40 UAH / kg</p>
                <img class="products" srcset="./img/groceries/carrot.jpg 1x, ./img/groceries/carrot@2x.jpg 2x"
                    src="./img/groceries/carrot.jpg" alt="carrot" width="282" height="243" />

            </li>
        </ul>
        <button class="vegetables-btn" type="button">Shop now</button>
    </div>
</section>
<!-- / Vegetables section -->