<section class="section-your-order section">
    <div class="container">
        <h2 class="title-your-order">Fresh <span class title-span>Harvest</span> Box has got you covered</h2>
        <p class="your-order-text">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
        <div class="order-form">
            <p class="form-text">Ordering <span class="form-span">from us</span> is quick and easy! Fill out <span class="the-form-span">the form</span> below and we will contact you !</p>
            <form action="">
                <div class="form-field>">
                    <input class="form-input" 
                    type="text"
                    id="user-name"
                    name="user-name"
                    placeholder="Full Name"
                    required>
                  
                </div>
                <div class="form-field>">
                    <input class="form-input" 
                    type="email"
                    id="user-email"
                    name="user-email"
                    placeholder="Email"
                    required>
                </div>
                <div class="form-textarea>">
                    <textarea class="" name="user-comment" id="user-comment" cols="30" rows="3" placeholder="Comment"></textarea>
                </div>
                <button type="submit" class="send-button">Send</button>
            </form>
        </div>
        
    <div class="socials-wrapper">
        <picture>
            <source media="(min-width: min-width: 1280px)" srcset="../img/@media/desctop/footer/rectangle.jpg 1x, ..img/@media/desctop/footer/rectangle@2x.jpg 2x ">
            <source media="(min-width: min-width: 768px)" srcset="../img/@media/tablet/footer/rectangle.jpg 1x, ../img/@media/tablet/footer/rectangle@2x.jpg 2x">
            <source media="(min-width: min-width: 320px)" srcset="../img/@media/mobile/footer/rectangle.jpg 1x, ../img/@media/mobile/footer/rectangle@2x.jpg 2x">
            <img src="../img/@media/mobile/footer/rectangle.jpg" alt="Woman and smoothie"></picture>
            <p class="socials-text">Follow us on our social networks:</p>
            <ul class="socials-list">
               <li class="socials-item"><a href="https://www.instagram.com/goitclub/" target="_blank">instagram</a></li>
               <li class="socials-item"><a href="https://www.youtube.com/c/GoIT" target="_blank">facebook</a></li>
               <li class="socials-item"><a href="https://www.facebook.com/goITclub/" target="_blank">youtube</a></li>
            </ul>
    </div>
    </div>
</section>