/* Advertisement styles */
 .container-advertisement {
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
} 

.section-advertisiment {
    background-color: var(--white);
    padding: 80px 0;
}

.discount-advirtisement {
    color: var(--black);
    font-size: 48px;
    font-weight: 700;
    line-height: 1.04;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.second-part-discount-advertisiment {
    color: var(--white);
    display: inline-flex;
    border-radius: 12px;
    background-color: var(--green);
    padding: 0 10px;
    margin: 0 -10px;
  }

@media screen and (min-width: 375px) {
.container-advertisement {
    max-width: 375px;
    }
}

@media screen and (min-width: 768px) {
.container-advertisement {
    max-width: 736px;
    padding: 0 16px;

    margin-top: 20px;
    margin-bottom: 20px;
    }

.discount-advirtisement {
    font-size: 64px;
    line-height: 1.09;
    letter-spacing: -0.015em;
}

.second-part-discount-advertisiment {
    padding: 0px 16px;
    margin-left:  -16px;
}
}

@media screen and (min-width: 1280px) {
.container-advertisement {
    max-width: 1280px;
    padding: 0 100px;
}

.discount-advirtisement {
    font-size: 76px;
    line-height: 1.05;
}
}


