/* Advertisement styles */
 .container-advertisement {
    max-width: 335px;
    margin: 0 auto;
    padding: 0 20px;
} 

.section-advertisiment {
    background-color: var(--white);
    padding: 80px 0;
}

.discount-advirtisement {
    color: var(--black);
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

.second-part-discount-advertisiment {
    color: var(--white);
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.04em;

    display: inline-flex;
    border-radius: 12px;
    background-color: var(--green);
    padding: 0 10px;
    margin: 0 -10px;
  }


@media screen and (min-width: 375px) {
.container-advertisement {
    max-width: 335px;
    }
}

@media screen and (min-width: 768px) {
.container-advertisement {
    max-width: 704px;
    padding: 0 16px;

    margin-top: 20px;
    margin-bottom: 20px;
    }

.discount-advirtisement {
    font-size: 64px;
    letter-spacing: -0.06em;
}

.second-part-discount-advertisiment {
    font-size: 64px;
    letter-spacing: -0.06em;
}

}

@media screen and (min-width: 1280px) {
.container-advertisement {
    max-width: 1080px;
}

.discount-advirtisement {
    font-size: 76px;
    letter-spacing: -0.07em;
}

.second-part-discount-advertisiment {
    font-size: 76px;
    letter-spacing: -0.07em;
}
}


