/* Загальні стилі */

body {
  font-family: 'Studio Pro', sans-serif;
  font-style: normal;
  text-shadow: none;
}

/* Контейнер */

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* Приховані заголовки */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Секція  Потрібне уточнення*/

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer {
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {

  .advertisement,
  .reviews {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .hero,
  .header {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .vegetables {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .your-order {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 1280px) {

  .how-it-works {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

/* Стилі заголовок h2 */

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.04;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 64px;
    line-height: 1;
  }
}

@media screen and (min-width: 1280px) {
  h2 {
    line-height: 1;
  }
}

/* Стилі заголовок h3 */

h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.015em;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 32px;

  }
}

/* Стилі p */

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 1.25;
  }
}

html {
  scroll-behavior: smooth;

}