/* Header styles */
.header {
  position: relative;
}

.header .container {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;

}

@media only screen and (min-width: 768px) {
  .header .container {
    top: 32px;
  }
}

.logo-link-header {
  height: 16px;
}

.mobile-menu-icon {
  stroke: var(--white);
}

.logo-icon {
  fill: var(--white);
}

@media only screen and (min-width: 768px) {
  .logo-icon {
    height: 18px;
    width: 194px;

  }
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  gap: 8px;
  margin-right: 20px;
}



@media only screen and (max-width: 1279px) {
  .nav {
    display: none;
  }
}

.mobile-menu-btn {
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 1279px) {
  .mobile-menu-btn {
    display: none;
  }
}


@media only screen and (min-width: 768px) {
  .mobile-menu-icon {
    width: 40px;
    height: 40px;

  }

}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.site-nav-link {
  padding: 12px;
  border-radius: 12px;
  color: var(--white);
  border: 1px solid rgba(251, 251, 251, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.site-nav-link:hover {
  background: #3b5417;

}




.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.4);

  z-index: 0;


}

.overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}