/* Hero styles */

.section-hero {
    padding-top: 100px;
    padding-bottom: 0;
    background-color: var(--green);

    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.container-hero {
    max-width: 100%;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.container-hero-main-text {
    margin-bottom: 20px;
}

.first-text-in-page {
    color: var(--white);
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}


.text-p-hero-section {
    color: var(--white);
   
    max-width: 375px;
    padding-bottom: 40px;
}

.picture-hero {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.main-image {
    width: 100%;
    padding: 0;
}

/* MOBILE */

@media screen and (min-width:375px) {
    .container-hero-main-text {
        width: 335px;
    }

    .text-p-hero-section {
        max-width: 335px;
    }

    .picture-hero {
        max-width: 375px;
    }
}

/* END-MOBILE-SECTION */


/* TABLET */

@media screen and (min-width:768px) {
    .section-hero {
        padding-top: 143px;
    }

    .container-hero {
        padding: 0 32px;
    }

    .container-hero-main-text {
        width: 704px;
        margin-bottom: 25px;
    }

    .first-text-in-page {
        font-size: 76px;
    }

    .text-p-hero-section {
        padding-bottom: 50px;
        max-width: 603px;
    }

    .picture-hero {
        max-width: 768px;
    }
}

/* END-TABLET-SECTION */


/* DESKTOP */

@media screen and (min-width:1280px) {
    .section-hero {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        flex-direction: row;
        justify-content: center;
    }

    .container-hero {
        padding-top: 230px;
        margin: 0;
        padding-right: 28px;
        padding-left: 100px;
    }

    .container-hero-main-text {
        width: 502px;
        margin-bottom: 136px;
        max-width: 630px;
    }

    .text-p-hero-section {
        margin: 0;
        max-width: 472px;
    }

    .picture-hero {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .picture-hero{
        max-width: 650px;
    }

    .main-image {
        display: block;
        width: 100%;
        height: auto;
    }
}

/* END-DESKTOP */