<<<<<<< Updated upstream
/* Hero styles */
=======
/* Hero styles */
.container {
    min-width: 320px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.section-hero {
    padding-top: 60px;
    padding-bottom: 0;
    background-color: var(--green);
}


.container-hero-main-text {
    width: 320px;
    margin: auto;
}


.first-text-in-page {
    display: flex;
    color: var(--white);
    font-family: 'Source Pro';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;


    margin-bottom: 20px;
}




.div-p-hero-section {
    height: 90px;
    margin-bottom: 40px;
}


.text-p-hero-section {
    display: flex;
    color: var(--white);
    font-family: "Studio Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.018em;
}




.picture-hero {
    margin-left: auto;
    margin-right: auto;
}


.main-image {
    width: 100%;
}






.container-advertisiment {
    background-color: var(--wine);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}


.main-image-women {
    width: 100%;
}




/* Mobile */




@media screen and (min-width:375px) {
    .container {
        width: 375px;
    }


}




/* TABLET */


@media screen and (min-width:768px) {
    .section-hero {
        background-color: var(--green);
        padding-top: 80px;
        padding-bottom: 0;
    }


    .container-hero-main-text {
        height: 228px;
        margin-bottom: 25px;
    }

    .first-text-in-page {
        color: var(--white);
        font-family: 'Source Pro';
        font-size: 76px;
        font-style: normal;
        font-weight: 700;
        line-height: 1;
        letter-spacing: -0.07em;
        text-transform: uppercase;
    }


    .div-p-hero-section {
        height: 60px;
    }


    .text-p-hero-section {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.02;
        padding-right: 133px;
    }


    .picture-hero {
        width: 100%;
    }




    .container-advertisiment {
        background-color: var(--wine);
        padding-top: 100px;
        padding-bottom: 100px;
    }


    .container-advertisiment {
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }


    .main-image-women {
        width: 100%
    }
}




/* DEKSPOT */


@media screen and (min-width:1280px) {}
>>>>>>> Stashed changes
