/* How-it-works styles */

.how-it-works {
    background-color: var(--wine);
    width: 100%;
}


@media only screen and (min-width: 1280px) {
    .how-it-works {
        background: linear-gradient(to right, var(--wine) 49.5%, var(--green) 49.5%);
    }
}

@media only screen and (min-width: 1280px) {
    .full-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 150px;
        flex-direction: row;
        align-items: start;
    }
}

.works-img-bg {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (min-width: 375px) {
    .works-img-bg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }
}


@media only screen and (min-width: 768px) {
    .works-img-bg {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media only screen and (min-width: 1280px) {
    .works-img-bg {
        padding-top: 0;
        padding-bottom: 0px;
    }
}

@media only screen and (min-width: 375px) {
    .main-image-women {
        width: 335px;
        height: 450px;
    }
}

@media only screen and (min-width: 767px) {
    .main-image-women {
        width: 640px;
        height: 640px;
    }
}

@media only screen and (min-width: 1280px) {
    .main-image-women {
        width: 430px;
        height: 640px;
    }
}

.works-content {
    background-color: var(--green);
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 375px) {
    .works-content {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (min-width: 768px) {
    .works-content {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media only screen and (min-width: 1280px) {
    .works-content {
        padding-top: 20px;
    }
}

.works-title {
    color: #FBFBFB;
    text-transform: uppercase;
    width: auto;
    padding-bottom: 20px;
}

@media only screen and (min-width: 375px) {
    .works-title {
        width: 335px;
    }
}

@media only screen and (min-width: 768px) {
    .works-title {
        width: 500px;
        padding-bottom: 25px;
    }
}

.works-title-span {
    color: rgba(251, 251, 251, 0.30);
}

.works-caption {
    color: #FBFBFB;
    width: auto;
    padding-bottom: 40px;
}

@media only screen and (min-width: 375px) {
    .works-caption {
        width: 335px;
    }
}

@media only screen and (min-width: 768px) {
    .works-caption {
        width: 500px;
        padding-bottom: 50px;
    }
}

.works-item {
    border-radius: 15px;
    background: var(--white);
    display: flex;
    align-items: center;
    width: auto;
    gap: 24px;
}

.works-item:not(:last-child) {
    margin-bottom: 20px;
}

@media only screen and (min-width: 375px) {
    .works-item {
        width: 335px;
        padding: 12px 24px;
    }
}

@media only screen and (min-width: 768px) {
    .works-item {
        width: 500px;
    }
}

.made {
    color: rgba(20, 20, 20, 0.60);
    width: 208px;
    font-size: 12px;
}

@media only screen and (min-width: 768px) {
    .made {
        width: 332px;
        font-size: 16px;
    }
}

.works-item-span {
    color: var(--black);
    font-weight: 700;
}

.number {
    width: 52px;
    height: 52px;
    background-color: var(--wine);
    border-radius: 50%;
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(122, 49, 69, 0.30);
    background-clip: padding-box;
}