/* How-it-works styles */

.how-it-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(to bottom, var(--wine) 50%,
    var(--green)50%);
}

@media only screen and (min-width: 768px) {
    .how-it-works {
        width: 100%;
        height: 1539px;
    }
}

@media only screen and (min-width: 1280px) {
    .how-it-works {
        gap: 150px;
        min-width: 1280px;
        height: 800px;
        background: linear-gradient(to right,  var(--wine) 50%, var(--green) 50%);
        flex-direction: row;
        align-items: start;
    }
}

.works-img-bg {
    padding-bottom: 120px;
}

@media only screen and (min-width: 767px) {
    .works-img-bg {
        padding-top: 0;
        padding-bottom: 200px;
    }
}

@media only screen and (min-width: 1280px) {
    .works-img-bg {
        padding-top: 0;
        padding-bottom: 0px;
    }
}

.main-image-women {
    min-width: 320px;
    border-radius: 30px;
    background: linear-gradient(0deg, rgba(20, 20, 20, 0.30) 0%, rgba(20, 20, 20, 0.30) 100%), url(<path-to-image>), lightgray -277.941px 0px / 149.982% 100% no-repeat;
}

@media only screen and (min-width: 1280px) {
    .works-content {
        width: 500px;
        padding-top: 20px;
    }
}

.works-title {
    color: #FBFBFB;
    text-transform: uppercase;
    width: auto;
    padding-bottom: 20px;
}

@media only screen and (min-width: 375px) {
    .works-title {
        width: 335px;
    }
}

@media only screen and (min-width: 768px) {
    .works-title {
        width: 500px;
        padding-bottom: 25px;
        }
}

.works-title-span {
    color: rgba(251, 251, 251, 0.30);
}

.works-caption {
    color: #FBFBFB;
    width: auto;
    padding-bottom: 40px;
}

@media only screen and (min-width: 375px) {
    .works-caption {
        width: 335px;
    }
}

@media only screen and (min-width: 768px) {
    .works-caption {
        width: 500px;
        padding-bottom: 50px;
    }
}

.works-item {
    border-radius: 15px;
    background: var(--white);
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    width: auto;
    height: 76px;
}

@media only screen and (min-width: 375px) {
    .works-item {
        width: 335px;
    }
}

@media only screen and (min-width: 768px) {
    .works-item {
        width: 500px;
    }
}

.made {
    color: rgba(20, 20, 20, 0.60);
    width: 208px;
    font-size: 12px;
}

@media only screen and (min-width: 768px) {
    .made {
        width: 332px;
    }
}

.works-item-span {
    color: var(--black);
    font-weight: 700;
}

.icons {
    padding-left: 24px;
    padding-right: 24px;
}

.number {
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
}

.wine {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    background-color: #7A3145;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pink {
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    background-color: rgba(122, 49, 69, 0.30);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}