/* Шрифт Source Pro Regular */
@font-face {
  font-family: 'Source Pro'; 
  font-style: normal; 
  font-weight: 400; 
  font-display: swap; 
  src: url(../fonts/studio-pro-regular.ttf) format('ttf');
}

/* Шрифт Source Pro Bold */
@font-face {
  font-family: 'Source Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/studio-pro-bold.ttf) format('ttf');
}

@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./how-it-works.css');
@import url('./advertisement.css');
@import url('./vegetables.css');
@import url('./reviews.css');
@import url('./your-order.css');
@import url('./footer.css');

/* Загальні стилі */

:root {
  --white: #FBFBFB;
  --green: #576F35;
  --black: #141414;
  --wine: #7A3145;
  --light-wine: rgba(122, 49, 69, 0.30);
  --menu-btn: rgba(251, 251, 251, 0.20);
  --gray: rgba(251, 251, 251, 0.30);
  --dark-grey: rgba(20, 20, 20, 0.40);
  --light-gray: rgba(251, 251, 251, 0.50);
}

body {
  font-family: "Source Pro";
  font-style: normal;
  text-shadow: none;
}

/* Скидання стилів */

.list {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* Контейнер */

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* Секція */

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .how-it-works, .advertisement, .reviews {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .vegetables {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .footer {
    padding-top: 150px;
  }
}

@media screen and (min-width: 1280px) {

  .how-it-works {
  padding-top: 80px;
  padding-bottom: 80px;
}
}

/* Стилі заголовок h2 */

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 50px; 
  /* 104.167% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .h2 {
      font-size: 64px;
      line-height: 70px; 
      /* 109.375% */
      letter-spacing: -0.96px;
  }
}

@media screen and (min-width: 1280px) {
  .h2 {
      font-size: 76px;
      line-height: 80px; 
      /* 105.263% */
      letter-spacing: -1.14px;
  }
}

/* Стилі заголовок h3 */

h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px; 
  /* 100% */
  letter-spacing: -0.42px;
}

@media screen and (min-width: 768px) {
  .h3 {
    font-size: 32px;
    line-height: 32px;
      /* 100% */
    letter-spacing: -0.48px;
  }
}

/* Стилі p */

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.28px;
}

@media screen and (min-width: 768px) {
  .p {
    font-size: 16px;
    line-height: 20px;
    /* 125% */
    letter-spacing: -0.32px;
  }
}