/* #region Reviews */
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .reviewes {
    padding: 80px 20px;
  }
  .reviewes__title {
    color: #141414;
    font-family: 'Studio Pro';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.04;
    letter-spacing: -0.015em;
    text-transform: uppercase;
  }
  .green-text {
    color: #576f35;
    font-family: 'Studio Pro';
    font-size: 48px;
    font-weight: 700;
    line-height: 1.04;
    letter-spacing: -0.015em;
    text-transform: uppercase;
  }
  .reviewes__text {
    color: #141414;
    font-family: 'Studio Pro';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.02em;
  }
  .reviewes__name {
    color: #040306;
    text-align: center;
    font-family: 'Studio Pro';
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
  .reviewes__text_descripiton {
  }

  .reviewes_card {
    display: flex;
    height: 238px;
    padding: 20px 16px;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    border-radius: 24px;
    border: 1px solid rgba(122, 49, 69, 0.3);
    background: #fbfbfb;
  }
}

/* #endregion Reviews */
