/* Vegetables styles */
/* Vegetables styles */
.vegetables-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vegetables {
    background-color: var(--wine);

}

.dwd {
    margin-bottom: 40px;
}

.vegetables-title {

    color: var(--white);
    margin-bottom: 20px;
}

.accent-color-title {
    color: #FBFBFB4D;
}

.vegetables-subtitle {
    color: var(--white);
}

@media (min-width: 768px) {
    .vegetables-subtitle {
        padding-right: 90px;
    }
}

.vegetables-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .vegetables-menu {
        gap: 28px 18px;
        margin-bottom: 0;
    }
}

.vegetables-item {
    width: 100%;
    padding: 32px 26px 45px 27px;
    background-color: #ffffff;
    border-radius: 40px;
}

@media (min-width: 768px) {
    .vegetables-item {
        width: calc((100% - 18px) / 2);
    }
}

@media (min-width: 1280px) {
    .vegetables-item {
        width: calc((100% - 36px) / 3);
    }
}

.vegetables-caption-card {
    color: var(--wine);
    margin-bottom: 12px;
    padding-left: 5px;
}

.vegetables-desc-card {
    font-weight: 700;
    letter-spacing: -0.015em;
    padding-left: 5px;
    margin-bottom: 14px;
}

.products {
    margin: 0 auto;
}

.vegetables-btn {
    min-width: 160px;
    padding: 0;
    border: 1px solid #FBFBFB33;
    border-radius: 30px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 41px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.015em;
    color: var(--white);
}

@media (min-width: 768px) {
    .vegetables-btn {
        display: none;
    }
}




@media (min-width: 1280px) {
    .vegetables-btn {
        display: flex;
    }
}