/* Vegetables styles */
.vegetables {
    background-color: var(--wine);

}

@media screen and (min-width: 1280px) {
    .vegetables-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 50px;
    }
}

.vegetables-title-subtitle-container {
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .vegetables-title-subtitle-container {
        max-width: 626px;
    }
}

@media screen and (min-width: 1280px) {
    .vegetables-title-subtitle-container {
        margin-bottom: 0;
    }
}

.vegetables-title {

    color: var(--white);
    margin-bottom: 20px;
}

.accent-color-title {
    color: #FBFBFB4D;
}

@media screen and (min-width: 768px) {
    .vegetables-title {
        line-height: 1;
        margin-bottom: 25px;
    }

}

.vegetables-subtitle {
    color: var(--white);
}


.vegetables-btn.btn-disctop {
    display: none;
}

@media screen and (min-width: 1280px) {
    .vegetables-btn.btn-disctop {
        display: inline-block;
    }
}


.vegetables-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .vegetables-menu {
        gap: 28px 18px;
        margin-bottom: 0;
    }
}

.vegetables-item {
    width: 100%;
    padding: 32px 26px 45px 27px;
    background-color: var(--white);
    border-radius: 40px;
    transition: box-shadow 600ms ease;
    overflow: hidden;
    cursor: grab;
}

@media screen and (min-width: 768px) {
    .vegetables-item {
        padding: 32px 26px 40px 27px;
    }
}

@media screen and (min-width: 1280px) {
    .vegetables-item {
        padding: 32px 33px 45px 33px;
    }
}

.vegetables-item:hover {
    box-shadow: 0 10px 5px rgba(17, 17, 17, 0.3);
}

.products {
    width: 100%;
    height: auto;
    transition: transform 500ms ease;
}

.vegetables-item:hover .products,
.vegetables-item:focus .products {
    transform: scale(1.1);
}

@media screen and (min-width: 768px) {
    .vegetables-item {
        width: calc((100% - 18px) / 2);
    }
}

@media screen and (min-width: 1280px) {
    .vegetables-item {
        width: calc((100% - 36px) / 3);
    }
}

.vegetables-caption-card {
    color: var(--wine);
    margin-bottom: 12px;
    padding-left: 5px;
}

.vegetables-desc-card {
    font-weight: 700;
    padding-left: 5px;
    margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
    .vegetables-desc-card {
        padding: 1px;
        font-size: 14px;
        line-height: 1.29;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1280px) {
    .vegetables-desc-card {
        margin-bottom: 0;
    }
}

.products {
    margin: 0 auto;
}

.vegetables-button {
    display: flex;
}

.vegetables-btn {
    min-width: 160px;
    border: 1px solid #FBFBFB33;
    border-radius: 30px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 41px;
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29em;
    letter-spacing: -0.21px;
    text-transform: uppercase;
    margin: 0 auto;
    transition: color 1000ms ease, background-color 1000ms ease;

}

.vegetables-btn:hover,
.vegetables-btn:focus {
    color: var(--wine);
    background-color: var(--white);
}

@media screen and (min-width: 768px) {
    .vegetables-btn {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .vegetables-btn {
        margin: 0;
    }
}