
/* Your-order styles */

.section-your-order {
background-color: var(--wine);
}


.title-your-order {
color: #FBFBFB;
margin-bottom: 20px;
}

.title-accent {
color: rgba(251, 251, 251, 0.30);
}

.your-order-text {
 color: #FBFBFB;
 margin-bottom: 40px;
}

.order-form {
border-radius: 30px;
background: #FBFBFB;
margin-bottom: 20px;
}

.form-area {
    padding: 40px 20px 40px 20px;
}

.form-text {
    display: block;
 color: #141414;
font-size: 24px;
font-weight: 700;
line-height: 1.08;
letter-spacing: -0.015em;
text-transform: uppercase;
margin-bottom: 40px;
}

.form-accent {
color: var(--wine);
}

.the-form-span {
color: var(--green);
}

.input-name, .input-email {
margin-bottom: 15px;
border-radius: 30px;
border: 1px solid rgba(20, 20, 20, 0.20);
background-color: transparent ;

width: 100%;
height: 46px;
padding-left: 16px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:not(:placeholder-shown):invalid {
    border: 2px solid #ad0d0d;
}

input:not(:placeholder-shown):valid {
    border: 2px solid var(--green);
}

input:hover, input:focus {
border: 1px solid var(--wine);
}

.textarea-form {
border-radius: 15px;
border: 1px solid rgba(20, 20, 20, 0.20);
background-color: transparent;

width: 100%;
height: 91px;
padding: 14px 0 0 16px;
margin-bottom: 20px;
resize: none;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-form:focus,
.textarea-form:hover {
border: 1px solid var(--wine);
}

::placeholder {
color: var(--black);
font-size: 14px;
line-height: 1.29; 
letter-spacing: -0.02em;
}
  
.send-button {
min-width: 100%;
min-height: 50px;

border-radius: 30px;
background: var(--green);
border: transparent;

color: #FBFBFB;
font-size: 14px;
font-weight: 700;
line-height: 1.29;
letter-spacing: -0.016em;
text-transform: uppercase;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.send-button:hover, .send-button:focus {
background-color: var(--wine);
border: 1px solid #FBFBFB ;
}

.socials-wrapper {
border-radius: 30px;
background: var(--green);

padding: 40px 20px;
}

.order-img {
margin-bottom: 20px;
border-radius: 15px;
background: linear-gradient(0deg, rgba(20, 20, 20, 0.30) 0%, rgba(20, 20, 20, 0.30) 100%), lightgray -36.221px -42.887px / 167.158% 122.975% no-repeat;
}

.socials-list {
display: flex;
flex-wrap: wrap;
gap: 8px;
}

.socials-text {
color: rgba(251, 251, 251, 0.50);
margin-bottom: 14px;
letter-spacing: -0.015em;
}

.socials-item {
display: flex;
gap: 8px;
}

.soc-link {
display: flex;
}


.socials-item:not(:last-child)::after {
content: "\002F";
color: #FBFBFB;
font-size: 24px;
font-weight: 700;
line-height: 1.08;
letter-spacing: -0.015em;
}

.soc-icon {
fill: #FBFBFB;
height: 26px;
transition: fill 0.4s linear;

}

.soc-icon:hover,
.soc-icon :focus {
fill: var(--wine);
}

.icon-inst {
transform: translateY(2px);
}

@media screen and (min-width: 768px) {

  .section-your-order {
padding: 150px 0 80px 0;
  }  

.title-your-order, .your-order-text {
width: 640px;
}

.title-your-order {
margin-bottom: 25px;
}

.your-order-text {
margin-bottom: 50px;
}

.form-text {
margin-bottom: 50px;
}

.order-form {
max-width:  628px;
margin: 50px auto 25px auto;
}

.input-name, .input-email{
height: 52px;
}

.form-area {
padding: 50px 100px;
}

.textarea-form {
height: 95px;
margin-bottom: 25px;
}

::placeholder {
font-size: 16px;
line-height: 1.25;
}

.send-button {
min-height: 52px;
font-size: 18px;
line-height: 1.11;
}
   
.socials-wrapper {
max-width: 628px;
padding: 50px;
margin: 0 auto;
}

.socials-text {
font-size: 18px;
font-weight: 700;
line-height: 1.11;
margin-bottom: 15px;

}

.socials-list {
gap: 12px;
}

.socials-item {
gap: 12px;
align-items: center;
}

.soc-icon {
height: 32px;
width: auto;
}


.order-img {
width: 528px;
margin-bottom: 50px;
}
}

 @media screen and (min-width: 1280px) {

.title-your-order {
font-size: 64px;
line-height: 1.0;
width: 751px;
}

.your-order-text {
width: 742px;
}

.order-form {
max-width: 528px;
}

.form-area {
padding: 50px;
}

.form-wrapper {
display: flex;
gap: 25px;
}

.order-img {
width: 427px;
}

.socials-wrapper, .order-form {
margin: 0;
 }
    }

 