
/* Your-order styles */

.section-your-order {
    background-color: var(--wine);
}


.title-your-order {
color: #FBFBFB;
margin-bottom: 20px;

}
.title-accent {
    color: rgba(251, 251, 251, 0.30);
}
.your-order-text {
    color: #FBFBFB;
    margin-bottom: 40px;
}
.order-form {
border-radius: 30px;
background: #FBFBFB;

width: 335px;
height: 533px;
padding: 40px 20px 0 20px;
margin-bottom: 20px;

}
.form-text {
 color: #141414;
font-family: "Studio Pro";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 108.333% */
letter-spacing: -0.36px;
text-transform: uppercase;
margin-bottom: 40px;
}

.form-accent {
    color: var(--wine);
}

.the-form-span {
    color: var(--green);
}

.input-name, .input-email {
margin-bottom: 15px;
border-radius: 30px;
border: 1px solid rgba(20, 20, 20, 0.20);
color: var(--black);
background-color: transparent ;

width: 100%;
height: 46px;
padding-left: 16px;
}

.textarea-form {
border-radius: 15px;
border: 1px solid rgba(20, 20, 20, 0.20);
color: var(--black);
background-color: transparent;

width: 100%;
height: 91px;
padding: 14px 0 0 16px;
margin-bottom: 40px;
}

.send-button {
min-width: 100%;
min-height: 50px;
padding: 16px 128px;

border-radius: 30px;
background: var(--green);
border: transparent;

color: #FBFBFB;
font-size: 14px;
font-weight: 700;
line-height: 1.29em;
letter-spacing: -0.21px;
text-transform: uppercase;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.send-button:hover, .send-button:focus {
background-color: #2b5839;
}

.socials-wrapper {
 border-radius: 30px;
background: var(--green);

width: 335px;
height: 465px;
padding: 40px 20px;
}

.order-img {
margin-bottom: 20px;
border-radius: 15px;
background: linear-gradient(0deg, rgba(20, 20, 20, 0.30) 0%, rgba(20, 20, 20, 0.30) 100%), url(<path-to-image>), lightgray -36.221px -42.887px / 167.158% 122.975% no-repeat;
}

.socials-text {
color: rgba(251, 251, 251, 0.50);
margin-bottom: 14px;
}

.socials-list {
display: flex;
gap: 8px;
flex-wrap: wrap;
}

.soc-icon {
fill: #FBFBFB;
font-size: 24px;
font-weight: 700;
line-height: 1.08;
letter-spacing: -0.015em
}

.soc-slash {
color: #FBFBFB;
font-size: 24px;
font-style: normal;
 font-weight: 700;
line-height: 1.08;
letter-spacing: -0.15em;
}

@media screen and (min-width: 768px) {

h2 {
margin-right: 96px;
}

.your-order-text {
    margin-right: 96px;
}

 .order-form {
width: 628px;
height: 534px;
padding: 50px 100px;
margin: 50px auto 20px auto;
}
   
 .socials-wrapper {
 width: 628px;
height: 490px;
padding: 50px;
margin: 0 auto;
}

.soc-icon {
 font-size: 32px;
line-height: 1;
}


.order-img {
width: 528px;
height: 273px;
}

 @media screen and (min-width: 1280px) {
.form-wrapper {
display: flex;
gap: 25px;
}

.socials-wrapper, .order-form {
    width: 527px;
    height: 534px;
    margin: 0;
       }
    }
}